@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
:root {
  --purple: #7743db;
  --white: #fff;
  --black: #000;
  --gray: #625e5e;
  --transition: all 0.4s linear;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: var(--purple);
  font-family: "Poppins", sans-serif;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#quote-container {
  text-align: center;
  font-size: 20px;
  padding: 2.5rem;
  border-radius: 1rem;
  background-color: var(--white);
}

#quote-text {
  color: var(--gray);
  font-size: 1rem;
}

#quote-container h1 {
  font-size: 40px;
}

#button-container {
  margin-top: 20px;
}

i {
  color: var(--gray);
}

.btn-primary {
  padding: 10px 20px;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5rem;
  color: var(--white);
  background-color: var(--purple);
  border: 0.15rem solid transparent;
  transition: var(--transition);
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #612fbe;
  border-color: transparent;
}


.icon i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  font-size: 16px;
  border: 0.1rem solid var(--purple);
  color: var(--purple);
  background-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}

.icon i:hover,
.icon i:focus {
  color: var(--white);
  background-color: var(--purple);
}

.btn-primary.loading {
  opacity: 0.4;
}

.footer p {
    font-size: 16px;
    font-weight: 500;
}

.footer p a {
    text-decoration: none;
    font-weight: light;
    
    transition: var(--transition);
    color: var(--purple);
}

.footer p a:hover , .footer p a:focus {
    text-decoration: underline;
}

@media (max-width : 500px) {
    #quote-container {
        padding: 2rem;
    }
    #quote-container h1 {
        font-size: 30px;
      }

      .icon i {
        width: 35px ;
        height: 35px ;
        line-height: 35px ;
        font-size: 14px;
      }

      .btn-primary {
        padding: 10px 15px;
        font-size: 13px ;
      }
      
.footer p {
    font-size: 12px;
    font-weight: 500;
}
}